// package main

// import (
// 	"context"
// 	"log"
// 	"os"

// 	"github.com/DamiaRalitsa/notif-lib-golang/notification/oca"
// 	_ "github.com/lib/pq"
// )

// func main() {
// 	// Set environment variable for template code
// 	// os.Setenv("OCA_WA_TEMPLATE_CODE", "4fd64ce5_88ac_4983_a0ac_900dd0e98d0e:2stepverification")

// 	// // Initialize the gateway
// 	g, err := oca.NewOCAHandler()
// 	if err != nil {
// 		log.Fatalf("NewOCAHandler failed: %v", err)
// 	}

// 	id := "8910"

// 	// Initialize the ocaMessage
// 	ocaMessage := oca.OCA{
// 		// PhoneNumber: []string{"083875024305", "082129530994"},
// 		PhoneNumber: []string{"085213785832"},
// 		MessageData: oca.Message{
// 			Type: "template",
// 			Template: oca.Template{
// 				TemplateCodeID: os.Getenv("NOTIF_OCA_WA_TEMPLATE_CODE"),
// 				Payload: []oca.Payload{
// 					{
// 						Position: "body",
// 						Parameters: []interface{}{
// 							oca.Parameter{
// 								Type: "text",
// 								Text: id,
// 							},
// 						},
// 					},
// 					{
// 						Position: "button",
// 						Parameters: []interface{}{
// 							oca.SubParameter{
// 								SubType: "url",
// 								Index:   "0",
// 								Parameters: []oca.Parameter{
// 									{
// 										Type: "text",
// 										Text: id,
// 									},
// 								},
// 							},
// 						},
// 					},
// 				},
// 			},
// 		},
// 	}

// 	// Call the SendWhatsapp function
// 	g.SendWhatsapp(context.Background(), ocaMessage)

// 	log.Println("Whatsapp message sent successfully")

// 	// // Check the response
// 	// if response == nil {
// 	// 	log.Fatalf("Expected a response, got nil")
// 	// }
// }
